[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
flask = "*"

[packages]
ynab-sdk = "*"
pandas = "*"
boto3 = "*"
warrant = "*"
pyotp = "*"
schedule = "*"
requests = "*"
splitwise = "*"
python-slugify = "*"
lxml = "*"
pycryptodome = "*"
plaid-python = "*"

[requires]
python_version = "3"
